*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

h1{
    font-size: 40px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #e5e7eb;
    line-height: 1.5;
    margin-bottom: 16px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    
}

li {
    list-style: none;
    display: inline;
    margin: 0 8px;
    font-size: 16px;
    color: #e5e7eb;
}

img {
    width: 100%;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    height: 32px;
    width: 86px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    margin-bottom: 64px;
}

.hero {
    background-color: #1f2937;
    padding: 24px 24px 24px 64px;
}

.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;

}

.logo {
    font-size: 20px;
    color: #f9faf8;
    font-weight: 700;
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
   
    
}

.services-header{
    text-align: center;
    padding-top: 48px;
    margin-bottom: 48px;

}

.services-header h2 {
    font-size: 32px;
}

.services-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 24px 24px 64px;

}

.services-box p {
    color: #000;
}